name: CI/CD Pipeline

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

concurrency:
  group: build-push-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 22
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run tests
  #       run: npm run test
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest

    env:
      NODE_ENV: test
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/api

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate SHA
        id: generate_sha
        run: echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials (Static Keys)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login into the container registry
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build --build-arg DATABASE_URL='${{ env.DATABASE_URL }}' -t ${{ secrets.AWS_ECR_REPOSITORY_URI }}:${{ steps.generate_sha.outputs.sha }} .
          docker tag ${{ secrets.AWS_ECR_REPOSITORY_URI }}:${{ steps.generate_sha.outputs.sha }} ${{ secrets.AWS_ECR_REPOSITORY_URI }}:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ secrets.AWS_ECR_REPOSITORY_URI }}:${{ steps.generate_sha.outputs.sha }}
          docker push ${{ secrets.AWS_ECR_REPOSITORY_URI }}:latest

      # - name: Criar arquivo kubeconfig
      #   # https://docs.aws.amazon.com/pt_br/eks/latest/userguide/create-kubeconfig.html
      #   run: aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name ${{ secrets.EKS_CLUSTER_NAME }}

      # - name: kubectl-apply
      #   # A ordem dos arquivos importa no Kubernetes
      #   run: |
      #     kubectl apply \
      #     -f k8s/namespace.yaml \
      #     -f k8s/configmap.yaml \
      #     -f k8s/secrets.yaml \
      #     -f k8s/deployment.yaml \
      #     -f k8s/service.yaml \
      #     -f k8s/hpa.yaml
